doctype html
html
  head
    include templates/head.jade
  body.flux

    include templates/header.jade

    div.container-flux
      h2 Flux
      div.content
        ul

    //- scripts
    include templates/footer.jade

    script(src='/js/flux.js')