doctype html
html
  head
    link(rel='stylesheet', href='/css/style.css')
    title #{session} | #{title}
  body.flux

    include templates/header-capture.jade

    div.container-flux
      h2 Flux
      div.content
        ul

    //- scripts
    include templates/footer.jade

    script(src='/js/flux.js')