doctype html
html
  head
    include templates/head.jade
  body.index

    include templates/header.jade

    div.session.col-wrapper
      div.list-session.list-wrapper
        button#add-session.add-button
          a Ajouter un compte
        ul

    //- scripts
    include templates/footer.jade

    script(src='/js/index.js')
