doctype html
html
  head
    link(rel='stylesheet', href='/css/style.css')
    link(rel='stylesheet', href='/css/bootstrap.css')
    title #{title}
  body.index

  header.header
      a(href='/')
        h1 DoDOC | #{session}
  
  div.session
    button#add-session Ajouter un compte
    div.list-session
      ul



    //- scripts
    script(src='/socket.io/socket.io.js')
    script var app = {}; app.session = "#{session}";
    script(src='/js/jquery-1.11.1.js')

    script(src='/js/index.js')
