doctype html
html
  head
    link(rel='stylesheet', href='/css/style.css')
    title #{title}
  body.index

  include templates/header.jade

  div.session
    button#add-session Ajouter un compte
    div.list-session
      ul



    //- scripts
    include templates/footer.jade

    script(src='/js/index.js')
