doctype html
html
  head
    include templates/head.jade
  body.publication

    include templates/header.jade

    nav.titleAndActions
      div.buttons.alignRight
        .button.sidebyside
          a(href="/select/#{session}/#{projet}/capture" class="btn icon capture"  data-toggle="tooltip" data-placement="alignRight" title= "Interface de capture")
            include templates/images/capture.svg
        .title.centered Publication
        .button.sidebyside
          a(href="/select/#{session}/#{projet}" class="btn icon bibli" data-toggle="tooltip" data-placement="left" title= "Bibliothèque de médias")
            include templates/images/icones-01.svg


    div.container-publi
      div.content

    //- scripts
    include templates/footer.jade

    script(src='/js/publication.js')