doctype html
html
  head
    include templates/head.jade
  body.publication

    include templates/header.jade

    nav.titleAndActions
      div.buttons.alignRight
        .title.centered Publication


    div.container-publi
      div.content

    //- scripts
    include templates/footer.jade

    script(src='/js/publication.js')