doctype html
html
  head
    link(rel='stylesheet', href='/css/style.css')
    title #{session} | #{title}
  body.select

    include templates/header-capture.jade


    div.container-bibli

      div.buffer.demi
        div.buffer-header 
          h2 Bibliothèque de médias
        ul
        //- img(src="http://localhost:8080/coucou/1421235653853.jpg")

      div.montage.demi 
        div.montage-content
          div.montage-title
            input(type="text" value="Big Titre")
          div.block-content

    //- scripts
    include templates/footer.jade
    
    script(src='/js/select.js')