doctype html
html
  head
    link(rel='stylesheet', href='/css/style.css')
    title #{session} | #{title}
  body.select

    include templates/header.jade


    div.container-bibli.multiCol

      div.buffer.demi

        div.buffer-header 
          nav.titleAndActions
            div.buttons
              .button.sidebyside
                a(href="/select/#{session}/capture" class="btn icon capture"  data-toggle="tooltip" data-placement="right" title="Interface de capture")
                  include templates/images/icones-07.svg
              .title.centered Bibliothèque de médias

        .mediaContainer

      div.montage.demi 
        div.montage-content
          div.montage-title
            input(type="text" value="Big Titre")
          div.block-content

    //- scripts
    include templates/footer.jade
    
    script(src='/js/select.js')