doctype html
html
  head
    include templates/head.jade
  body.projets

    include templates/header.jade

    div.thumb-background
        img(src="" atl="background")
    div.button.btn-back
      a(href="/" class="btn icon home"  data-toggle="tooltip" data-placement="right" title= "Retour à la page d'accueil")
        include templates/images/back.svg
    div.projets-block.col-wrapper
      div.list-projets.list-wrapper
        button#add-projet.add-button
          a Ajouter un projet
        ul

    //- scripts
    include templates/footer.jade

    script(src='/js/session.js')