doctype html
html
  head
    include templates/head.jade
  body.projets

    include templates/header.jade

    div.thumb-background
        img(src="" atl="background")
    div.projets-block
      div.list-projets
        ul
        button#add-projet 
          a= __("Ajouter un projet")

    //- scripts
    include templates/footer.jade

    script(src='/js/session.js')