@import url(https://fonts.googleapis.com/css?family=Share:400,400italic,700,700italic);
html {
  margin: 0;
}
body {
  margin: 0px 0px 20px 0px;
  color: #000;
  background-color: #e5e5e5;
  font-family: 'share', monospace;
  font-size: 2em;
}
a {
  color: #000;
  text-decoration: none;
}
a:hover {
  color: #000;
  text-decoration: none;
}
img {
  min-width: 100%;
  width: 100%;
}
button {
  outline: none;
  border: none;
  background: none;
}
.demi {
  width: 49%;
  display: inline-block;
  vertical-align: top;
}
/* HEADER NAVBAR */
/*******************************************************************
	NAVBAR
*********************************************************************/
.navbar-default {
  background-color: #fff;
  padding-top: 0px;
  padding-bottom: 0px;
  margin: 0;
}
.navbar-default .navbar-container {
  width: 90%;
  margin: 0 auto;
}
.navbar-header {
  float: left;
  width: 66.66666667%;
}
.navbar-header .navbar-brand {
  display: inline-block;
  color: #000;
  float: none;
  width: auto;
  padding-top: 8px;
  padding-bottom: 10px;
  font-size: 16px;
  line-height: 18px;
}
.navbar-header .navbar-brand svg,
.navbar-header .navbar-brand img {
  width: 140px;
  min-width: 0;
  display: inline-block;
  vertical-align: middle;
}
.navbar-header .navbar-brand svg rect,
.navbar-header .navbar-brand img rect,
.navbar-header .navbar-brand svg path,
.navbar-header .navbar-brand img path,
.navbar-header .navbar-brand svg circle,
.navbar-header .navbar-brand img circle,
.navbar-header .navbar-brand svg polyline,
.navbar-header .navbar-brand img polyline {
  transform-origin: 50% 50%;
}
.navbar-header .lopendocInstance {
  display: inline-block;
  vertical-align: middle;
  max-width: 360px;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 15px;
  padding-right: 15px;
  border-left: 1px solid #eee;
  display: none;
}
.navbar-header .lopendocProjet {
  display: inline-block;
  font-weight: bold;
  vertical-align: middle;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 15px;
  padding-right: 15px;
  border-left: 1px solid #eee;
}
.navbar-default .navbar-collapse {
  width: 33.33333334%;
  float: right;
}
.navbar-default .navbar-collapse .actionsContainer .actions .btn-bibli {
  display: inline-block;
  float: right;
}
.navbar-default .navbar-collapse .actionsContainer .actions .btn-bibli .count-add-media {
  background-color: #48c2b5;
  padding: 7px 2px 5px 0px;
  color: #FFF;
  border-radius: 100px;
  text-align: center;
  font-size: 13px;
  font-weight: bold;
  width: 30px;
  position: absolute;
  right: 10px;
  top: 5px;
  opacity: 0;
}
.action-button {
  list-style: none;
  padding: 0;
  margin: 10px 0 5px 0;
  text-align: right;
}
.action-button li {
  display: inline-block;
  border-radius: 0.25em;
  padding: 0 1em;
  margin: 0;
  margin-right: 5px;
  margin-bottom: 5px;
  height: 35px;
  line-height: 36px;
  cursor: pointer;
  text-align: center;
  color: #000;
  -webkit-font-smoothing: antialiased;
  background-color: #eee;
}
/* CAPTURE PAGE
---------------------------------*/
.container {
  width: 90%;
}
.media-choice {
  width: 40%;
  margin: 0px auto 40px auto;
}
.media-choice .btn-choice {
  width: 100%;
  text-align: center;
}
.media-choice .btn-choice button {
  color: #535353;
  background-color: #cecece;
  border: none;
  margin: 0px 20px;
  outline: none;
  font-size: 1.4em;
  padding: 5px 15px;
}
.media-choice .btn-choice button:hover {
  color: #0038bb;
  background-color: #48c2b5;
  outline: none;
}
.media-choice .btn-choice button.active {
  color: #0038bb;
  background-color: #48c2b5;
  outline: none;
}
.left {
  width: 800px;
  height: 650px;
  margin: auto;
  padding: 10px;
  position: absolute;
  top: 200px;
  left: 30%;
  background-color: #FFF;
}
.left .capture {
  width: 100%;
}
.left .capture > div {
  width: 80px;
  margin: 0px auto 20px auto;
}
.left .capture button {
  outline: none;
  border: none;
  background: none;
  width: 80px;
  margin: auto;
}
.left .capture .video-capture .video-save #stop-btn {
  display: none;
}
.left .capture .stopmotion-capture {
  width: 80px;
}
.left .capture .stopmotion-capture button {
  display: inline-block;
}
.left .capture .stopmotion-capture #capture-sm {
  display: none;
}
.left .capture .audio-capture #stop-recording {
  display: none;
}
.left #canvas-audio {
  display: none;
  background-color: orange;
}
.right {
  width: 800px;
  height: 650px;
  background-color: #FFF;
  position: absolute;
  top: 200px;
  left: 30%;
  z-index: -1;
  display: none;
  margin-bottom: 50px;
}
.right .son {
  display: none;
  padding-left: 80px;
  margin-bottom: 40px;
}
.right #camera-preview {
  display: none;
  width: 100%;
}
.right #stop-sm {
  display: none;
  float: right;
}
.video-view,
.screenshot {
  width: 80%;
  margin: 50px auto 20px auto;
}
.video-view video,
.screenshot canvas {
  width: 100%;
}
.photo-capture {
  display: block;
}
.video-capture,
.stopmotion-capture,
.audio-capture {
  display: none;
}
.form-meta {
  display: none;
  padding: 10px 80px 0px 80px;
  margin-bottom: 50px;
}
.form-meta input {
  display: block;
  width: 80%;
  margin-bottom: 10px;
  background-color: #e5e5e5;
  border: none;
  outline: none;
  padding: 10px;
}
.form-meta textarea {
  width: 80%;
  height: 100px;
  margin-bottom: 10px;
  background-color: #e5e5e5;
  border: none;
  outline: none;
}
.form-meta.title {
  margin-top: 20px;
}
.form-meta.title input {
  display: inline-block;
}
.form-meta .valid {
  display: inline-block;
  width: 60px;
  margin-top: -10px;
}
.form-meta .clear {
  display: inline-block;
  width: 60px;
  position: absolute;
  right: 20px;
}
.container-flux ul {
  padding: 40px 30px 30px 20px;
}
.container-flux ul li {
  list-style: none;
  width: 32%;
  display: inline-block;
  vertical-align: top;
  margin: 0px 10px 10px 0px;
}
.container-flux ul li.images-bibli img {
  border: 5px solid blue;
}
.container-flux ul li.videos-bibli video {
  width: 100%;
  border: 5px solid green;
}
.container-flux ul li.audios-bibli {
  border: 5px solid red;
}
.container-bibli {
  width: 100%;
  margin: auto;
}
.container-bibli .buffer {
  background-color: #e5e5e5;
}
.container-bibli .buffer .buffer-header {
  background-color: #cecece;
}
.container-bibli .buffer .buffer-header h2 {
  margin: 0px;
  padding: 20px 30px;
  text-align: center;
}
.container-bibli .buffer ul {
  height: 750px;
  overflow-y: scroll;
  padding: 40px 30px 30px 20px;
}
.container-bibli .buffer ul li {
  list-style: none;
  width: 32%;
  display: inline-block;
  vertical-align: top;
  margin: 0px 10px 10px 0px;
}
.container-bibli .buffer ul li.images-bibli img {
  border: 5px solid blue;
}
.container-bibli .buffer ul li.videos-bibli video {
  width: 100%;
  border: 5px solid green;
}
.container-bibli .buffer ul li.audios-bibli {
  border: 5px solid red;
}
.container-bibli .montage {
  height: 860px;
  overflow-y: scroll;
}
.container-bibli .montage input {
  width: 100%;
  border: none;
  text-align: center;
  font-size: 30px;
}
.container-bibli .montage .block-content {
  width: 100%;
  height: 300px;
  border-bottom: 4px dashed #CECECE;
}
.container-flux {
  width: 100%;
  max-width: 800px;
  margin: auto;
}
.container-flux .bloctitre {
  padding: 15px 30px;
}
.container-flux .bloctitre h2 {
  margin: 0;
}
.container-flux .content {
  padding-top: 10px;
  padding-bottom: 25px;
  margin-bottom: 45px;
  text-align: center;
  position: relative;
}
.container-flux .content .metaData {
  position: relative;
  text-align: right;
  margin-right: 15px;
}
.container-flux .content img {
  max-width: 800px;
  min-width: 0;
  margin-bottom: 15px;
}
.container-flux .timelineContainer {
  width: 30px;
  height: 100%;
  position: fixed;
  display: block;
  top: 0;
  left: 0;
  display: none;
}
