header.banner.navbar.navbar-default.navbar-fixed-bottom
  .navbar-container
    .navbar-header
      a.navbar-brand(href='/')
        include images/dodoc-logo-04.svg      
      .lopendocInstance
        | DoDOC
      .lopendocProjet
        | #{sessionFormat} #{projetFormat}
