header.banner.navbar.navbar-default
  .navbar-container
    .navbar-header
      a.navbar-brand(href='/')
        include images/dodoc-logo-04.svg      
      .lopendocInstance
        | DoDOC
      .lopendocProjet
        | #{session}
    
    nav.collapse.navbar-collapse
      .actionsContainer
        ul.action-button.actions
          li.button.capture.withTexte
            a(href="/select/#{session}/capture" class="capture-page btn-right")
              | CAPTURE

          li.button.btn-bibli
            a(href="/select/#{session}" class="capture-page btn-right")
              img(src='/images/icones-01.svg')
              .count-add-media +1