//@import url(https://fonts.googleapis.com/css?family=Share:400,400italic,700,700italic);

@font-face {
  font-family: 'Share';
  font-style: normal;
  font-weight: 400;
  src: local('Share'), local('Share-Regular'), url(/fonts/V0tPyYest8OjeghtuqYjiaCWcynf_cDxXwCLxiixG1c.woff) format('woff');
}
@font-face {
  font-family: 'Share';
  font-style: normal;
  font-weight: 700;
  src: local('Share Bold'), local('Share-Bold'), url(/fonts/vq-obeo4cskP3gCfYTOfG3YhjbSpvc47ee6xR_80Hnw.woff) format('woff');
}
@font-face {
  font-family: 'Share';
  font-style: italic;
  font-weight: 400;
  src: local('Share Italic'), local('Share-Italic'), url(/fonts/5d0WJjfwpAlUrEdq4BuHngLUuEpTyoUstqEm5AMlJo4.woff) format('woff');
}
@font-face {
  font-family: 'Share';
  font-style: italic;
  font-weight: 700;
  src: local('Share Bold Italic'), local('Share-BoldItalic'), url(/fonts/EFGhLE7fLwZtSFxykTxa573hpw3pgy2gAi-Ip7WPMi0.woff) format('woff');
}

@import 'bootstrap.less';
@import 'variables.less';


html {
	margin:0;
}

body {
  margin: 0;
  color: #000;
  background-color: #EFEFEF;
  font-family: 'share', monospace;
  font-size: 2em;

	&:after {
		position: fixed;
		content: '';
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		z-index: 1100;
		background: rgba( 0, 0, 0, 0.8);
		visibility: hidden;
		opacity: 0;

		

		-webkit-transition: opacity .3s 0s, visibility 0s .3s;
		-moz-transition: opacity .3s 0s, visibility 0s .3s;
		transition: opacity .3s;
	}

	&.is-overlaid:after {
	    visibility: visible;
	    opacity: 1;

		cursor: pointer;

	    -webkit-transition: opacity .3s 0s, visibility 0s 0s;
	    -moz-transition: opacity .3s 0s, visibility 0s 0s;
	    transition: opacity .3s 0s, visibility 0s 0s;
	}
}

a{
	color: #000;
	text-decoration: none;
}

a:hover {
	color: #000;
	text-decoration: none;
}

img, video, audio {
	min-width: 100%;
	width:100%;	
	display: block;
}

button{
	outline: none;
	border:none;
	background: none;
}

.fade {
	transition: opacity .25s ease-out;
}

.multiCol {
	display: flex;
}

.demi {
	flex:1;
	overflow-y: scroll;
	vertical-align: top;
}

/* HEADER NAVBAR */

/*******************************************************************
	NAVBAR
*********************************************************************/

.navbar-default {

	background-color: #fff;
	padding-top: 0px;
	padding-bottom: 0px;
	margin: 0;
	min-height: 50px;

	.navbar-container {
		width: 90%;
		margin: 0 auto;
	}


}

.navbar-header {
 	
	.navbar-brand {

		display: inline-block;

		color: #000;

		float: none;

		width: auto;

		padding-top: 	6px;
		padding-bottom: 12px;

		font-size: 16px;
		line-height: 18px;


		svg,img {
			width: 130px;
			min-width: 0;
			display: inline-block;
			vertical-align: middle;
			overflow: visible;

			rect,path, circle, polyline {
				transform-origin: 50% 50%;

			}
		}
	}


	.lopendocInstance {
		display: inline-block;
		vertical-align: middle;
		max-width: 360px;
		padding-top: 5px;
		padding-bottom: 5px;

	  padding-left: 15px;
	  padding-right: 15px;
	  border-left: 1px solid #eee;

	  display: none;
	}

	.lopendocProjet {
		display: inline-block;
		font-weight: bold;
		vertical-align: top;

		height: 50px;

		padding-top: 13px;
		padding-bottom: 5px;

		padding-left: 15px;
		padding-right: 15px;
		border-left: 1px solid #eee;
	}
}

.buttons:before,
.buttons:after {
  content: " ";
  display: table;
}
.buttons:after {
  clear: both;
}
.buttons {
	background-color: #f9f9f9;
	height: 72px;

}



.buttons {
	list-style: none;
	margin: 0;
	padding: 0;
	position: relative;

	&.alignRight {
		text-align: right;
	}

	.sidebyside {
		display: inline-block;	
		position: relative;
	}

	.centered {
		position: absolute;
		top:0;
		left: 0;
		width: 100%;
		height: 100%;
		text-align: center;

		font-size: 24px;
		line-height: 72px;

		z-index: 0;
	}

	.button {

		border-radius: 0.25em;
		padding: 6px;
		margin: 6px;

		cursor: pointer;
		color: #000;

		-webkit-font-smoothing: antialiased;
		z-index: 2;

	}

	.title {
		font-weight: 700;
		letter-spacing: .4px;
	}

	body.select & .title {
		color: #FE414D;
	}
	body.capture & .title {
		color: #FFB520;
	}

	// icones dans les boutons
	img {
		width: 	40px;
		height: 40px;
	}

}

.btn.icon {
  width: 48px;
  height: 48px;
  padding:0;
border-radius: 50%;

  transition: all .2s ease-out;

	&:hover, &:hover{
		border-radius: 20%;

	}

	svg {
		width: 100%;
		height:100%;
		vertical-align: middle;
	}

	+ .tooltip {
	    width: 110px;
	    font-size: 16px;
		.tooltip-inner {

		}

	}
}



.btn.capture {
	background-color: #FE414D;
	// tooltip
	+ .tooltip {
		.tooltip-arrow {
	 	   border-right-color: #FE414D;
		}
		.tooltip-inner {
		    background-color: #FE414D;
		}
	}
}
.btn.bibli {
	background-color: #FFB520;
	// tooltip
	+ .tooltip {
		.tooltip-arrow {
	 	   border-left-color: #FFB520;
		}
		.tooltip-inner {
		    background-color: #FFB520;
		}
	}
}

.btn-bibli{
	// margin:0px auto 20px auto;
	display: inline-block;
	float: right;	

	.count-add-media{
		background-color: @bleuvert;
		padding: 7px 2px 5px 0px;
		color: #FFF;
		border-radius: 100px;
		text-align: center;
		font-size: 13px;
		font-weight: bold;
		width:30px;
		position: absolute;
		right:10px;
		top: 5px;
		opacity: 0;
	}
}

// DISPARITION / APPARITION DES BOUTONS DE LA NAVBAR
// page select :
.select {
	.button.btn-bibli {
		display: none !important;
	}
}
.capture {
	.button.capture {
		display: none !important;
	}
}






/* PAGE D'ACCUEIL INDEX
---------------------------------*/
.index {
	.session {
		width:40%;
		margin:auto;

		display: flex;
		  -webkit-box-align: center;
		  -webkit-align-items: center;
		  -ms-flex-align: center;
		  align-items: center;
		  height: 80vh;
		  -webkit-box-pack: center;
		  -webkit-justify-content: center;
		  -ms-flex-pack: center;
		  justify-content: center;

		.list-session {
			-webkit-box-flex: 0;
			  -webkit-flex: none;
			  -ms-flex: none;
			  flex: none;
			  max-width: 100%;

			  .vignetteProjet {
			  	background-color: #fff;
			  	color: #333;
			  	margin:5px;
			  	padding:0;

			  	transition: background-color .4s ease-out;
			  	a {
				  	color: #333;
			  		padding:10px;
			  		padding-left: 14px;
			  		padding-right: 14px;
			  		display: block;

			  		&:hover {
			  			color: #fff;
			  			background-color: #333;
					  	transition: background-color 0s ease-out;
			  		}
			  	}
			}

			  ul {
			  	display: inline;
			  	padding: 0;


				.session-project {

					.vignetteProjet;
					display: inline-block;


				}			  	
			  }

			  #add-session {
					.vignetteProjet;			  	
					display: inline-block;
					background-color: @bleuvert;
					a {
											color:#fff;

					}
			  }


		}
	}

}


/* CAPTURE PAGE
---------------------------------*/
.container {
	width: 90%;
}

.clone{
	position: absolute;
	left:52%;
	top:0px;
}

.media-choice {
	width:62%;
	margin: 20px auto 40px auto;
	.btn-choice{
		width: 100%;
		text-align: center;
		margin-left: 12px;
		button{
			color:@grisfonce;
			background-color: @grisclair;
			border:none;
			margin: 0px 45px 0px 25px;
			outline: none;
			font-size: 1em;
			padding: 5px 15px;
			&:hover {
				color:@bleumarine;
				background-color: @bleuvert;
				outline: none;
			}
			&.active {
				color:@bleumarine;
				background-color: @bleuvert;
				outline: none;
			}
		}
	}
	.choice{
		div{
			padding: 10px 14px;
			background-color: @bleuvert;
			text-align: center;
			width: 200px;
			position: absolute;
			left: 43%;
			top: 50%;
			z-index: 102;
			display: none;
		}
	}
}


.captureLeft {
	width: @cardW;
	height: @cardH;
	margin: auto;
	padding: 10px;
	position: absolute;
	top: @cardT;
	left:@cardL;
	margin-left: -@cardW/2;
	  	background-color: #FFF;
	.capture{
		width:100%;
		position: absolute;
		top:410px;
		&>div{
			width:60px;
			margin:0px auto 20px auto;
		}
		button{
			outline: none;
			border:none;
			background: none;
			width:60px;
			margin: auto;
		}
		.video-capture{
			.video-save{
				#stop-btn{
					display: none;
				}
			}
		}
		.stopmotion-capture{
			//width: 80px;
			button {
				display: inline-block;
			}
			#capture-sm{
				display:none;
			}
		}
		.audio-capture{
			#stop-recording{
				display: none;
			}
		}
	}
	#canvas-audio{
		display: none;
		background-color: orange;
	}
}

.captureRight {
	width: @cardW;
	height: @cardH;
	background-color: #FFF;
	position: absolute;
	top: @cardT;
	left:@cardL;
	z-index: -1;
	display: none;
	margin-bottom: 50px;
	.screenshot {
		width: 90%;
		margin:30px auto 0px auto;
		.meta-stopmotion{
			margin-top: 10px;
			.count-image{
				display: inline-block;
				vertical-align: top;
			}
			.delete-image{
				width: 30px;
				display: inline-block;
				vertical-align: top;
				margin-right: 10px;
				cursor: pointer;
			}
		}
		#canvas-equalizer{
			background-color: orange;
		}
	}
	.son {
		display: none;
		padding-left:27px;
		margin-top: 60px;
		margin-bottom: 40px;
	}

	#camera-preview {
		display: none; 
		width: 100%;
	}
	#stop-sm{
		display: none;
		float: right;
		width: 48px;
	}
}

.video-view{
	width: 90%;
	margin:-40px auto 0px auto;
	#canvas-audio{
		margin-top: 60px;
	}
}

.video-view video, .screenshot canvas{
	width: 100%;
	// background-color: @grisclair;
}

.photo-capture{
	display: block;
}

.video-capture, .stopmotion-capture, .audio-capture {
	display: none;
}

.video-play{
	//display: none;
}

.form-meta{
	display: none;
	// padding:10px 80px 0px 80px;
	// margin-bottom: 50px;
	input{
		display: block;
		width: 80%;
		margin-bottom: 10px;
		background-color: @gristresclair;
		border:none;
		outline: none;
		padding: 10px;
	}
	textarea{
		width: 80%;
		height: 100px;
		margin-bottom: 10px;
		background-color: @gristresclair;
		border:none;
		outline: none;
	}
	&.title{
		//margin-top:10px; 
		input{
			display: inline-block;
		}
	}
	.valid {
		display: inline-block;
		width: 60px;
		// float: right;
		margin-top: -10px;
	}
	.clear {
		display: inline-block;
		width: 50px;
		position: absolute;
		//margin-top: -10px;
		top:40px;
		right: 30px;
		z-index: 100;
	}
}

//Record Button Animation 
.record-button-animated{
	width:100px;
	height: 100px;
	position: relative;
	margin: auto;
	top: @cardH / 3;

	// Ceci est un commit

	.outter{
		width:100%;
		height:100%;
		border-radius: 100px;
		background-color: orange;
		position: relative;
	}
	.inner{
		width:60%;
		height:60%;
		border-radius: 100px;
		background-color: red;
		position: absolute;
		top:20px;
		left:20px;
	  animation: record 2s linear 1s infinite alternate;
	  webkit-animation: record 2s linear 1s infinite alternate;
	  moz-animation: record 2s linear 1s infinite alternate;
	  o-animation: record 2s linear 1s infinite alternate;
	}

	@-webkit-keyframes record { 0% {transform: scale(0.8);} 100% {transform: scale(1.2);}}
	@-moz-keyframes record { 0% {transform: scale(0.8);} 100% {transform: scale(1.2);}}
	@-o-keyframes record { 0% {transform: scale(0.8);} 100% {transform: scale(1.2);}}
	@keyframes record { 0% {transform: scale(0.8);} 100% {transform: scale(1.2);}}
}

.instructions-stopmotion{
	width: 80%;
	margin: 50px auto;
	.icone-stopmotion{
		width: 300px;
		margin: 0px auto 40px auto;
		img{
			width:100%;
		}
	}
	h4{
		text-align: center;
	}
}

//CUSTOM AUDIO PLAYER

	audio {
	   opacity: 0;
	}

	.mejs-controls .mejs-button button{
		transform: scale(1.6);
		margin-top: 10px;
	}

	.mejs-container .mejs-controls{
		background: #FFF;
		height: 70px;
		margin-top: 30px;
	}
	.mejs-controls .mejs-time-rail .mejs-time-total{
		height: 20px;
		background: @bleuvert;
	}

	.mejs-controls .mejs-time-rail .mejs-time-current{
		background: @bleuvert;
		height: 20px;
	}

	.mejs-controls .mejs-time-rail .mejs-time-loaded{
		background: @bleumarine;
		height: 20px;
	}

	.mejs-controls .mejs-time-rail .mejs-time-float, .mejs-controls .mejs-time-rail .mejs-time-handle{
		height: 20px;
		background: @bleuvert;
	}

	.mejs-controls .mejs-horizontal-volume-slider .mejs-horizontal-volume-total{
		background: @grisfonce;
	}

	.mejs-controls .mejs-horizontal-volume-slider .mejs-horizontal-volume-current{
		background: @bleuvert;
	}

//END CUSTOM AUDIO PLAYER

//FLUX PAGE
// GROS CACA
.container-flux{
	ul{
			padding: 40px 30px 30px 20px;
			li{
				list-style: none;
				// height: 215px;
				display: inline-block;
				vertical-align: top;
				margin: 0px 10px 10px 0px;
				&.images-bibli{
					img{
						border: 5px solid blue;

					}
				}
				&.videos-bibli{
					video{
						width: 100%;
						border: 5px solid green;
					}	
				}
				&.audios-bibli{
					border: 5px solid red;
				}
			}
		}
}
// BIBLI PAGE ------
.container-bibli {

	width:100%;
	height: 100vh;
	margin: auto;


	//font-family: 'share', sans-serif ; 


	.buffer {
		background-color:#e5e5e5;

		.mediaContainer {
			height: auto;
			overflow-y: scroll;
			padding: 30px;

			.media{
				list-style: none;
				position: relative;;
  				
  				width: ~"calc( 33% - 10px)";
  				// height: 215px;
				display: inline-block;
				vertical-align: top;
				padding: 15px;
				margin:5px;

				.mediaTitre {
					margin: 0;
					margin-top: 5px;
					padding: 0;
					padding-left: 5px;
					font-size: 14px;
					font-style: italic;
					border-left: 2px solid #eee;

				}


				&:after {
				    content: "";
				    position: absolute;
				    top:0;
				    right:0;
				    margin:5px;
				    width: 24px;
				    height: 24px;
				    background-size: cover;
				    z-index: 11;
				}

				&.images-bibli{
					&:after {
					    background-image: url("/images/icone-dodoc_image.png");
					}
					.mediaTitre {
						border-left-color: #ffb520;
					}

				}
				&.videos-bibli{
					video{
					}	
					&:after {
					    background-image: url("/images/icone-dodoc_video.png");
					}
					.mediaTitre {
						border-left-color: #fe414d;
					}
				}
				&.sons-bibli{
					.mediaContent {
						width: 100%;
						height: 0;
						padding-bottom: 33%;

						background-color: #09227c;
					}

					audio {
						opacity: 1;
						padding-top:33%;
					}
					&:after {
					    background-image: url("/images/icone-dodoc_son.png");
					}
					.mediaTitre {
						border-left-color: #09227c;
					}
				}

			}
		}
	}

	.montage {
		overflow-y: scroll;


		input{
			width: 100%;
			border: none;
			text-align: center;
			font-size: 30px;
		}

	  -webkit-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.1);
	  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.1);

		.block-content{
			width: 100%;
			height: 300px;
			border-bottom: 4px dashed #CECECE;

		}
	}
}


.container-flux {
	width: 100%;
	max-width: 800px;
	margin:auto;
	
	.bloctitre {
		padding: 15px 30px;

		h2 {
			margin: 0;
		}
	}

	.content {

		//background-color: white;

		@whiteMargins : 40px;

		// padding-left: @whiteMargins;
		// padding-right: @whiteMargins;
		// margin-left: -@whiteMargins;
		// margin-right: -@whiteMargins;

		padding-top: 10px;
		padding-bottom: 25px;
		margin-bottom: 45px;

		text-align: center;
		position: relative;

		.metaData {
			position: relative;
			text-align: right;
			margin-right: 15px;

		}

		img {
			max-width: 800px;
			min-width: 0;
			margin-bottom: 15px;
		}

	}

	.timelineContainer {
		width: 30px;
		height: 100%;
		position: fixed;

		display: block;
		top:0;
		left:0;
	
		display: none;

	}
}




/****************
	 POPOVER !
****************/

.popover {

	display: block;
	position: fixed;

	background-color: #efefef;
	max-width: 900px;
	border-radius: 4px;

	-webkit-transform: translateZ(0);
	-moz-transform: translateZ(0);
	-ms-transform: translateZ(0);
	-o-transform: translateZ(0);
	transform: translateZ(0);
	-webkit-backface-visibility: hidden;
	backface-visibility: hidden;
	will-change: left, top, width;
	z-index: 1200;

	visibility: hidden;

	&.is-visible {
		visibility: visible;
		&:before {
		  height: 36px;
		  width: 36px;

		}
	}
	&:before {
	  content: "";
	  position: absolute;
	  right: -40px;
	  top: -40px;
	  height: 0;
	  width: 0;
	  background-image: url("/images/clear.svg");
	  background-size: cover;
	 
	  pointer-events: none;
	  cursor: pointer;

	  transition: width .6s .2s cubic-bezier(0.680, -0.550, 0.265, 1.550), height .6s .2s cubic-bezier(0.680, -0.550, 0.265, 1.550);
	}

	.spinner {
		position: absolute;
	 	top: 0;
		right: 0;
		margin: 10px;

	}

	&.is-loading {
		.spinner {
			opacity: 1;

		}
	}

	.popoverContainer {
		padding:20px;
		height: 100%;
		overflow: hidden;
	}

	// rendre tous les contenus de popoverContainer block
	.popoverContainer > * {
		display: block !important;
	}



	.popoverTitle {
		margin: 0;
		margin-bottom: 1em;		
		padding: 0;
		padding-bottom: .5em;

		border-bottom: 1px solid #eee;

	}

	input.new-session {
		-webkit-appearance: none;
		text-indent: 2%;
		background-color: #fff;
		border:none;
		width: 100%;
		margin-bottom: .5em;

		  padding: .4em;
	}

	.submit-session {
	  border: none;
	  background: none;
	  float: right;
		background-color: @bleuvert;
	}
}

.spinner {
  width: 20px;
  height: 20px;
  opacity: 0;

  position: relative;
  margin: 100px auto;

  transition: opacity .4s ease-out;
}

.double-bounce1, .double-bounce2 {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background-color: @bleuvert;
  opacity: 0.6;
  position: absolute;
  top: 0;
  left: 0;

  -webkit-animation: bounce 2.0s infinite ease-in-out;
  animation: bounce 2.0s infinite ease-in-out;
}

.double-bounce2 {
	background-color: @bleumarine;
  -webkit-animation-delay: -1.0s;
  animation-delay: -1.0s;
}

@-webkit-keyframes bounce {
  0%, 100% { -webkit-transform: scale(0.0) }
  50% { -webkit-transform: scale(1.0) }
}

@keyframes bounce {
  0%, 100% {
    transform: scale(0.0);
    -webkit-transform: scale(0.0);
  } 50% {
    transform: scale(1.0);
    -webkit-transform: scale(1.0);
  }
}




